html, body, #root {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(-105deg, #009acc, #363795);
}

.container {
  margin: auto;
  height: 100%;
  width: 100%;
}

.logoWrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.logo {
  opacity: 0;
  width: 48%;
  height: auto;
}