html, body {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(-105deg, #009acc, #363795);
}

.container {
  margin: auto;
  width: 80%;
}

.logoWrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.logo {
  opacity: 0;
  width: 60%;
  height: auto;
}