body {
  background-color: #45383C;
}

.container {
  margin: auto;
  width: 80%;
}

.ml7 {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 5em;
}

.ml7 .text-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  color: white;
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.ml7 .whiteSpace{
  display: inline-block;
  width: .3em;
}

.ml7 .svg-container{
  height: 200%;
  width: 200%;
}

.ml7 .line{
  margin: auto;
  background-color: white;
  width: 80%;
  height: 3px;
}